{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h1>Melon List</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>곡명</th>
            <th>가수</th>
        </tr>
        </thead>
        <tbody>
        {% for song in song_list %}
        <tr>
            <td>{{ song.곡명 }}</td>
            <td>{{ song.가수 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}





